#container_anim {
  position: relative;
  width: 100%;
  height: 70%;
}

#key {
  position: absolute;
  top: 77%;
  left: -33%;
  
}

#text {
  font-size: 2rem;
  position: absolute;
  top:20%;
  width: 100%;
  text-align: center;
}

#credit {
  position: absolute;
  top:32%;
  width: 100%;
  text-align: center;
  font-size:18px;
}
#link{
  position: relative;
  top:25px;
  left:120px;
  text-decoration: none;
  color:#FF8F00;
  font-size: 30px;;
}

